html,body {
	height:100%; 
	font-family: helvetica, sans-serif;
	text-align:center; /*added this to center the first divs*/
  }
.center{	
	margin: 0 auto ;/*added this to center bottom 2/3 of the page*/
}

  

 p{
  color:rgba(0,0,0,1);
  padding:10px;
  text-align:justify;  /*this makes it like a newspaper, columns are a line all lines same size*/
  line-height:28px; /*increase space between vertical lines*/
} 


#div1{
	display:inline-block;
	background:yellow; 
	width:500px;
	
	border:solid black;
	
}
#div2{
	display:inline-block;
	background:white;
	width:500px;
	border:dashed black;
	padding:40px 0px 30px 0;



}
#div3{
	display:inline-block;
	background:white;
	
}

#div4 { 
	background: #04FFD1;
	padding:30px 0px;
	width:1015px;

}
#div5 { 
	display:inline-block;
	background: black;
	width:500px;
	color:#04FFD1;
	padding:22px 3px ;
}


#div6{
	display:inline-block;
	background: repeating-linear-gradient(
  45deg,
  #606dbc,
  #606dbc 10px,
  #465298 10px,
  #465298 20px
);
	background-size: cover;
	width:500px;	
	padding:22px 2.5px ;
	color:white;
}

/*
#div6 { 
	background: #04FFD1 url("http://i.imgur.com/WjMzaM0.jpg");
	background-size:cover;
	background-position: 0px 1240px;
}
*/

.icon:hover{
	
	 -webkit-filter : invert(100%);

}


h1{
	font-family: 'Bevan', 'cursive';
	font-size:70px;
	margin: 0 0 -20px 10px;
	background:yellow;

}


@media (max-width:1030px){
	h1{
		font-size:40px;
	}
	#div1{
		width: 700px;
	}
	#div2{
		width: 700px;
	}
	#div4{
		 width: 700px;

	}
	p{
		font-size:20px;
		line-height:30px;
	}
	#div5{
		width:694px;
	}
	#div6{
		width:695px;
	}
}


@media (max-width:700px){
	#div1{
		width:auto;
	}
	#div2{
		width:auto;
	}
	#div4{
		width:auto;
	}
	#div5{
		width:auto;
	}
	#div6{
		width:auto;
	}
}

/*the following decreases the header, decreases the middle div by half, and increases the paragraph text font-size 

